.red5pro-media-container {
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  line-height: 0px;
}

.red5pro-media {
  width: 100%;
}

.red5pro-media-background {
  background-color: #000;
}

.red5pro-media-container-full-screen {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}

.red5pro-media-control-bar {
  font-family: sans-serif;
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-align: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
  color: #595959;
  -webkit-transition: opacity 0.5s ease-in-out;
     -moz-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
       -o-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.red5pro-media-control-bar-show {
  opacity: 1;
}

.red5pro-media-control-element {
  margin: 0 0.5em;
  cursor: pointer;
}
.red5pro-media-time-field {
  font-size: 0.8em;
  line-height: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.red5pro-media-slider {
  -webkit-appearance: none !important; /*Needed to reset default slider styles */
  transition: all 0.3s ease;
  margin-top: 0.8em;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.red5pro-media-slider-track {
  background-color: #595959;
  height: 0.2em;
  position: relative;
  display: block;
  top: 0.1em
}

.red5pro-media-slider-progress {
  background-color: #4286F4;
  height: 0.2em;
  position: relative;
  display: block;
  top: -0.1em;
}

.red5pro-media-slider-button {
  width: 1em;
  height: 1em;
  max-width: 24px;
  max-height: 24px;
  top: -0.7em;
  position: relative;
  display: block;
  border-radius: 20px;
  background-color: #4286F4;
}

.red5pro-media-slider-disabled {
  background-color: #bbb;
  cursor: arrow;
}

.red5pro-media-volume-slider {
  width: 110px;
}

.red5pro-media-seektime-slider {
  flex-grow: 1;
  -ms-flex-grow: 1;
  -ms-flex-positive: 1;
}

.red5pro-media-element-button {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.red5pro-media-element-button-disabled {
  cursor: arrow;
  opacity: 0.5;
}

.red5pro-media-play-button {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpolygon%20points%3D%2230%2C15%2030%2C85%2080%2C50%22%20fill%3D%22%23595959%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}

.red5pro-media-pause-button {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%3E%3Crect%20x%3D%2220%22%20y%3D%2215%22%20width%3D%2220%22%20height%3D%2270%22%20fill%3D%22%23595959%22%2F%3E%3Crect%20x%3D%2260%22%20y%3D%2215%22%20width%3D%2220%22%20height%3D%2270%22%20fill%3D%22%23595959%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}

.red5pro-media-unmute-button {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22none%22%20stroke%3D%22%23595959%22%20stroke-width%3D%228%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%3E%3Cpath%20d%3D%22M46%2020L28%2036H16a4%204%200%200%200-4%204v16a4%204%200%200%200%204%204h12l18%2016V20z%22%2F%3E%3Cpath%20d%3D%22M50%2036a14%2014%200%200%201%200%2028%22%2F%3E%3Cpath%20d%3D%22M70%2028a24%2024%200%200%201%200%2048%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}

.red5pro-media-mute-button {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22%23595959%22%3E%3Cpath%20d%3D%22M46%2020L28%2036H16a4%204%200%200%200-4%204v16a4%204%200%200%200%204%204h12l18%2016V20z%22%20stroke%3D%22%23595959%22%20stroke-width%3D%228%22%2F%3E%3Cline%20x1%3D%2270%22%20y1%3D%2240%22%20x2%3D%2290%22%20y2%3D%2260%22%20stroke%3D%22%23595959%22%20stroke-width%3D%228%22%2F%3E%3Cline%20x1%3D%2290%22%20y1%3D%2240%22%20x2%3D%2270%22%20y2%3D%2260%22%20stroke%3D%22%23595959%22%20stroke-width%3D%228%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}

.red5pro-media-fullscreen-button {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22%23595959%22%20stroke%3D%22%23595959%22%20stroke-width%3D%225%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%3E%3Cpath%20d%3D%22M20%2020h20v-8H12v28h8V20z%22%2F%3E%3Cpath%20d%3D%22M80%2020h-20v-8h28v28h-8V20z%22%2F%3E%3Cpath%20d%3D%22M20%2080h20v8H12V60h8v20z%22%2F%3E%3Cpath%20d%3D%22M80%2080h-20v8h28V60h-8v20z%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}

.red5pro-media-exit-fullscreen-button {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22%23595959%22%20stroke%3D%22%23595959%22%20stroke-width%3D%225%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%3E%3Cpath%20d%3D%22M32%2012v20H12%22%2F%3E%3Cpath%20d%3D%22M68%2012v20h20%22%2F%3E%3Cpath%20d%3D%22M32%2088V68H12%22%2F%3E%3Cpath%20d%3D%22M68%2088V68h20%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}
